body.active-modal {
  overflow-y: hidden;
}
.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 22px 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 350px;
  height: auto !important;
  /* margin-top: -187px; */
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  padding-top: 51px;
  position: fixed;
  top: 30%;
  left: 40%;
}
.seperator {
  border-color: #6eecb7 !important;
  border-width: 10px;
  border-radius: 5px;
}

.btn-transfer {
  margin: 26px 0;
  padding: 15px 30px;
  background: linear-gradient(to right, #9eda93, #22cba8);
  border-radius: 25px;
  border: none;
  color: #fff;
  min-width: 60%;
}
.stats span.first {
  border-right: 1px solid #eee;
}

.attributes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
.cp-text {
  padding-right: 10px;
  border-right: 1px solid #eee;
  margin: 0;
}
.cp-text:last-child {
  border: none;
}
.player-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding-top: 15px;
  text-align: center;
}
.data-container p {
  margin-bottom: 0;
}

#update_name,
#update_candy_title #update_name {
  text-transform: capitalize;
}
.img_size {
  width: 170px;
  margin-top: -95%;
  margin-left: 7%;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 40%;

  width: 0px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.homepage {
  margin-left: 2%;
  height: 90vh;
  transition: 0.5s ease;
}
.homepage1 {
  margin-left: 16%;
  height: 90vh;
  transition: 0.5s ease;
}
@media only screen and (max-width: 600px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 22px 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 250px;
    height: auto !important;
    /* margin-top: -187px; */
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    padding-top: 51px;
    position: fixed;
    top: 33%;
    left: 25%;
  }
  .popup .content {
    position: absolute;
    top: 20%;
    left: 20%;

    width: 0px;
    height: 20px;
    z-index: 2;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
  }
  .homepage {
    width: 100%;
    transition: 0.5s ease;
    margin-left: 50px;
  }
  .homepage1 {
    width: 100%;
    transition: 0.5s ease;
    margin-left: 50px;
  }
}
@media only screen and (min-device-width: 700px) and (max-device-width: 1300px) {
  form {
    color: #555;
    background-color: white;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 25px;
    /* width: 580px; */
    margin-left: 60px;
    margin-right: 252px;
  }
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 22px 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 350px;
    height: auto !important;
    margin-top: 29px;
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    padding-top: 64px;
    position: fixed;
    top: 30%;
    left: 40%;
  }
}
@media only screen and (min-height: 1500px) {
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 22px 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 350px;
    height: 30% !important;
    margin-top: 29px;
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    padding-top: 64px;
    position: fixed;
    top: 30%;
    left: 40%;
  }
  form {
    color: #555;
    background-color: white;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 25px;
    /* width: 580px; */
    margin-left: 60px;
    margin-right: 252px;
  }
}
