.parent_header {
  position: sticky;
  top: 0;
  color: white;
}
.sidebar {
  width: 16%;
  position: fixed;
  top: 71px;
  z-index: 50;
  height: 92vh;
  overflow-y: scroll;
  overflow: hidden;
  left: 0;

  background-color: #3d3e47;

  transition: 0.5s ease;
}
.sidebar.active {
  left: -16%;
}
.mini_sidebar {
  width: 5%;
  position: fixed;
  z-index: 50;
  height: 92vh;
  background-color: #3d3e47;
  left: -100px;
  transition: 0.5s ease;
  top: 71px;
}
@media only screen and (max-width: 600px) {
  .mini_sidebar {
    width: 17%;
    position: fixed;
    z-index: 50;
    height: 100%;
    background-color: #3d3e47;
    left: -100px;
    transition: 0.5s ease;
    top: 71px;
  }
  .sidebar {
    width: 16%;
    position: fixed;
    top: 71px;
    z-index: 50;
    height: 92vh;
    overflow-y: scroll;
    overflow: hidden;
    left: 0;
    display: none;
    background-color: #3d3e47;

    transition: 0.5s ease;
  }
}
.mini_sidebar.active {
  left: 0;
}
.miniDiv {
  padding: 0px 10px;
  color: #3d3e47;
}
.miniDiv:hover {
  background-color: #2d313d;
  cursor: pointer;
}
@media only screen and (min-device-width: 700px) and (max-device-width: 1300px) {
  .sidebar {
    display: none;
  }
  .mini_sidebar {
    width: 7%;
    position: fixed;
    z-index: 50;
    height: 92vh;
    background-color: #3d3e47;
    left: -100px;
    transition: 0.5s ease;
    top: 71px;
  }
  .mini_sidebar.active {
    left: 0;
  }
  .miniDiv {
    padding: 0px 10px;
    color: #3d3e47;
  }
  .miniDiv:hover {
    background-color: #2d313d;
    cursor: pointer;
  }
  .mini_sidebar.active {
    width: -10px;
    height: 100%;
  }
}
@media only screen and (min-height: 1500px) {
  .sidebar {
    display: none;
  }
  .mini_sidebar {
    width: 7%;
    position: fixed;
    z-index: 50;
    height: 92vh;
    background-color: #3d3e47;
    left: -100px;
    transition: 0.5s ease;
    top: 71px;
  }
  .mini_sidebar.active {
    left: 0;
  }
  .miniDiv {
    padding: 0px 10px;
    color: #3d3e47;
  }
  .miniDiv:hover {
    background-color: #2d313d;
    cursor: pointer;
  }
  .mini_sidebar.active {
    width: -10px;
    height: 100%;
  }
}
